@font-face {
  font-family: "Canela";
  src:
    url("../fonts/Canela-Regular.woff2") format("woff2"),
    url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
