.create {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r($lg) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__content {
    max-width: 426px;
    width: 100%;
    @include r($lg) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include r($lg) {
      justify-content: center;
    }
  }

  &__images {
    position: relative;
    @include r($md) {
      margin-bottom: 20px;
    }
  }

  &__img {
    border-radius: 24px;

    &:not(:last-child) {
      @include r($md) {
        margin-bottom: 20px;
      }
    }

    &:nth-child(2) {
      position: absolute;
      bottom: -84px;
      right: 330px;

      @include r($xl) {
        right: 130px;
        bottom: -120px;
      }
      @include r($md) {
        position: static;
      }
    }
  }
}
