<article class="art-card">
  <img class="art-card__img" src="@img" alt="@title">
  <div class="art-card__top">
    <h3 class="art-card__title">@title</h3>
    <p class="art-card__price">@price</p>
  </div>
  <div class="art-card__bottom">
    <div class="art-card__box">
      <p class="art-card__text">
        Ending In
      </p>
      <div class="art-card__time" data-time="@endDate">
        <span class="art-card__hours"></span> :
        <span class="art-card__minutes"></span> :
        <span class="art-card__seconds"></span>
      </div>
    </div>
    <button class="art-card__btn btn btn--outline">Place A Bid</button>
  </div>
</article>