<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__content">
        <p class="footer__text">
          Discover NFTs by category, track the latest drop, and and follow the collections you love. Enjoy it!
        </p>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="9" height="16">
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="15" height="12">
                <use href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="15" height="14">
                <use href="images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <svg class="footer__social-icon" width="15" height="16">
                <use href="images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__items">
        <div class="footer__item">
          <h3 class="footer__title">Explore</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Art Sign In</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Collectibles</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Domain Name</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Utility</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title">Statistic</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Ranking</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Collectibles</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Activity</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title">Company</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link link" href="#">About Us</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Career</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Support</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Partners</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title">Resources</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Help Center</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Platform Status</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        © Copyright 2023 - davixq
      </p>
      <div class="footer__box">
        <a class="footer__bottom-link link" href="#">
          Privacy Policy
        </a>
        <a class="footer__bottom-link link" href="#">
          Terms & Conditions
        </a>
      </div>
    </div>
  </div>
</footer>