<header class="header">
  <div class="container">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link link current" href="#">Marketplace</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Artists</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Community</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Collections</a>
        </li>
      </ul>
      <button class="menu__contact btn" type="button">Contact</button>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Open menu</span>
      </button>
    </nav>
  </div>
</header>