<section class="hero section">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title title">
        Discover and Collect The Best NFTs
        <span class="hero__subtitle">Digital Art.</span>
      </h1>
      <p class="hero__desc">
        Get started with the easiest and most secure platform to buy and trade digital ART and NFT’s. Start exploring
        the world
        of digital art and NFTs today and take control of your digital assets with confidence!
      </p>
      <div class="hero__buttons">
        <button class="hero__btn btn">Explore Now</button>
        <button class="hero__btn more">Learn More</button>
      </div>
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__num">
            8.9<span>K</span>
          </span>
          Art work
        </li>
        <li class="hero__item">
          <span class="hero__num">
            65<span>K</span>
          </span>
          Artist
        </li>
        <li class="hero__item">
          <span class="hero__num">
            87<span>K</span>
          </span>
          Collection
        </li>
      </ul>
    </div>
    <div class="hero__box">
      <img class="hero__img" src="images/hero/content.jpg" alt="" width="464" height="544">
      <div class="hero__holder">
        <div class="hero__holder-box">
          <div class="hero__holder-item">
            <p class="hero__holder-text">Ends in</p>
            <div class="hero__holder-time" data-time="2023-09-01">
              <span class="hero__holder-hours"></span> :
              <span class="hero__holder-minutes"></span> :
              <span class="hero__holder-seconds"></span>
            </div>
          </div>
          <div class="hero__holder-item">
            <p class="hero__holder-text">Current bid</p>
            <span class="hero__holder-subtext">0.24ETH</span>
          </div>
        </div>
        <button class="hero__holder-btn btn btn--outline">
          Place A Bid
        </button>
      </div>
    </div>
  </div>
</section>