<section class="popular section">
  <div class="container">
    <div class="popular__top">
      <h2 class="popular__title title">
        Popular <span>Artists</span>
        on this week
      </h2>
      <a class="btn" href="#">See All</a>
    </div>
    <ul class="popular__list">
      <li class="popular__item">
        <img class="popular__img" src="images/popular/1.jpg" alt="Osvaldo's Percy NFT" width="300" height="311">
        <div class="popular__content">
          <img class="popular__avatar" src="images/popular/avatar1.jpg" alt="Osvaldo Percy" width="48" height="48">
          <div class="popular__box">
            <p class="popular__box-text">Owner</p>
            <p class="popular__box-author">Osvaldo Percy</p>
          </div>
        </div>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="images/popular/2.jpg" alt="Ranson's Sqiure NFT" width="520" height="311">
        <div class="popular__content">
          <img class="popular__avatar" src="images/popular/avatar2.jpg" alt="Ranson Sqiure" width="48" height="48">
          <div class="popular__box">
            <p class="popular__box-text">Owner</p>
            <p class="popular__box-author">Ranson Sqiure</p>
          </div>
        </div>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="images/popular/3.jpg" alt="Cristio's leo NFT" width="410" height="652">
        <div class="popular__content">
          <img class="popular__avatar" src="images/popular/avatar3.jpg" alt="Cristio leo" width="48" height="48">
          <div class="popular__box">
            <p class="popular__box-text">Owner</p>
            <p class="popular__box-author">Cristio leo</p>
          </div>
        </div>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="images/popular/4.jpg" alt="Sebastian's waltan NFT" width="410" height="311">
        <div class="popular__content">
          <img class="popular__avatar" src="images/popular/avatar4.jpg" alt="Sebastian waltan" width="48" height="48">
          <div class="popular__box">
            <p class="popular__box-text">Owner</p>
            <p class="popular__box-author">Sebastian waltan</p>
          </div>
        </div>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="images/popular/5.jpg" alt="Abraham's Zack NFT" width="410" height="311">
        <div class="popular__content">
          <img class="popular__avatar" src="images/popular/avatar5.jpg" alt="Abraham Zack" width="48" height="48">
          <div class="popular__box">
            <p class="popular__box-text">Owner</p>
            <p class="popular__box-author">Abraham Zack</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>