<section class="subscribe section">
  <div class="container subscribe__container">
    <div class="subscribe__images">
      <img class="subscribe__img" src="images/subscribe/1.jpg" alt="image 1" width="410" height="376">
      <img class="subscribe__img" src="images/subscribe/2.jpg" alt="image 2" width="282" height="348">
    </div>
    <div class="subscribe__content">
      <h2 class="subscribe__title title">
        Subscribe And
        <span>get our Updates</span>
        Every Week
      </h2>
      <p class="subscribe__text">
        We have a blog related to NFT so we can share thoughts and routines on our blog which is updated weekly
      </p>
      <form class="subscribe__form" action="#">
        <label class="subscribe__label">
          <input class="subscribe__input" type="email" name="email" placeholder="Enter your e-mail" required>
          <button class="subscribe__btn btn" type="submit">Subscribe</button>
        </label>
      </form>
    </div>
  </div>
</section>